body{
    background-image: url("../../../resources/images/intro.jpg");
    color:white;
}

.errors{
    color:red;
    background-color:#ffe8a1; 
    border-radius: 5px;
    border: 3px solid red;
}

input[type=text], input[type=password]{
    border: 3px solid black;
}

.cont-frm-login{
    margin-top: 10%;
}